<div class="block">
    <h3><?= $title; ?></h3>
    <form method="post">
        <ul>
            <li>
                <label>Логин<br>
                    <input type="text" name="login" placeholder="Логин" required>
                </label>
            </li>

            <li class="pt">
                <label>Пароль<br>
                    <input type="password" name="password" placeholder="Пароль" required>
                </label>
            </li>

            <li class="pt">
                <input type="submit" value="Вход" name="submit">
            </li>
        </ul>
    </form>
</div>